fastapi==0.95
elasticsearch==7.13.0
loguru==0.6.0
pydantic==1.10.4
python-dotenv==0.21.1
psycopg2-binary==2.9.10
uvicorn==0.18.3
requests==2.32.3
requests_cache==1.2.1
selenium-wire==5.1.0
selenium==4.15.2
blinker==1.7.0
redis==4.5.5
jmespath
srsly
beautifulsoup4
SQLAlchemy==2.0.22
pandas==2.1.1
numpy==1.26.0